.button-container {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .button-top-left {
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .button-top-right {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .button-bottom-left {
    position: absolute;
    left: 10px;
    bottom: 10px;
  }
  .button-bottom-right {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .image-container {
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


@import url(https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&family=Space+Grotesk:wght@300..700&display=swap);


header {
  font-family:'Reddit Mono', sans-serif; 
  font-weight: normal;
  margin-left: -992px;
}

h1 {
  font-size: 38px;
  font-weight: normal;
}

h2 {
  font-family: 'Reddit Mono', sans-serif; 
  font-size: 28px;
  margin-left: 10px;
  font-weight: bold;
}

p {
  font-family: 'Reddit Mono', sans-serif; 
  font-size: 24px;
  justify-content: space-between; 
}


#sobre p {
  text-align: justify;
}

article {
  font-family: 'Reddit Mono', sans-serif; 
  font-size: 20px;
  display:block;
  justify-content: center;
  align-items: center;
}

article img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
}


h3 {
  font-family:'Raleway', sans-serif;
  font-size: 24px;
  font-weight:300;
  display:block;
  justify-content: center;
  align-items: center;
}

.container {
  font-family: 'Reddit Mono', sans-serif;
  font-size: 20px;
  
}


#menu {
  margin-left: 1000px;
}


.collage img {
  width: 45%; /* Reduzir o tamanho das imagens */
  margin: 10px auto; /* Deixa as imagens centralizadas horizontalmente */
}

.collage-image {
  width: 30%;
  margin: 10px auto;
  position: relative;
}

.collage-image:hover::before {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}
.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

nav {
  margin-left: 22px;
}
#menu {
  list-style-type: none;
  margin-left: -120px;
  margin-right: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

#menu li {
  float: left;
}

#menu li a {
  
  color: rgb(105, 105, 105);
  text-align:left;
  padding: 2px 50px;
  text-decoration: none;
}

#menu li a:hover {
  background-color: #ffffff;
}

#menu {
  list-style-type: none;
  padding-left: -50;
}

#menu li {
  /*margin-bottom: -15px;*/ /* Adjust this value to your liking */
  margin-left: 50px;
  margin-bottom: 10px;
  margin-right: 0px;
}

#menu a {
  display: block;
  padding: 50px; /* Adjust this value to your liking */
}

#sobre h2, p {
  margin-right: 22px;
  margin-left: 21.5px;
}

h1 {
  margin-left: 0px;
}

.top-right-image {
  position: absolute;
  top: 60px;
  right: 100px;
  width: 400px;
  height:auto;
}

.instagram-icon {
  position: fixed;
  bottom: 40px;
  right: 25px;
  width: 50px;
  height: 50px;
}

.articles article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles article h3 {
  text-align: center;
}

.back-arrow {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #333;
  text-decoration: none;
}

.back-arrow:hover {
  color: #666;
}